
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<h1>Student Login Form</h1>
<div class="main-agileinfo">
    <h2>Login </h2>
    <form action="Verify" method="post">
        <input type="text" name="name" class="name" placeholder="Username" required="">
        <input type="password" name="password" class="password" placeholder="Password" required="">
        <input type="submit" value="Login">
    </form>
</div>

